.bmi-chart-general-box {
    background-color: rgba(48, 57, 60, 0.386);
    border-radius: 2px;
    margin: 1px;
    width: 100%;

}

.bmi-chart-specyfic-box {
    border-radius: 2px;
    margin: 1px;
    display: flex;
    flex: 1;
    gap: 2px;
    width: 30%;
}

.bmi-chart-box {
    border-radius: 5%;
}

.severe-bmi {
    background: linear-gradient(90deg, #0000ff, #3399ff);
}

.moderate-bmi {
    background: linear-gradient(90deg, #3399ff, #6699ff);
}

.mild-bmi {
    background: linear-gradient(90deg, #6699ff, #66ff66);
}

.normal-bmi {
    background: linear-gradient(90deg, #66ff66, #66ff66);
}

.overweight-bmi {
    background: linear-gradient(90deg, #66ff66, #ff9999);
}

.first-bmi {
    background: linear-gradient(90deg, #ff9999, #ff7f7f);
}

.second-bmi {
    background: linear-gradient(90deg, #ff7f7f, #ff5050);
}

.third-bmi {
    background: linear-gradient(90deg, #ff5050, #ff1d1d);
}

.bmi-chart {
    display: flex;
    gap: 0px;
}