html {
    font-family: 'Roboto Slab', sans-serif;
    color: white;
}

* {
    border-radius: 7px;

}

body {
    background: radial-gradient(circle at top,
            #27391C,
            #18230F);
    background-repeat: repeat;
    background-size: 100% 100%;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}